.navbar {
    padding: 0px 0;
    border-radius: 5px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
}

.navbar-btn {
    background-color: #866ec7;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 300;
    padding: 5px 0;
    width: 33.33%;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.navbar-btn:hover {
    background-color: #495057;
}

/* Voting Person Styling */
.voting-person {
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap */
    justify-content: space-between;
    padding: 20px;
    background-color: #e1e8f0;
    margin-top: 20px;
    border-radius: 5px;
}

.voting-person-left {
    text-align: center;
    flex: 1 1 100%;
    /* Adjust flex property */
    margin-bottom: 20px;
    /* Add margin to space out items */
}

.person-image {
    width: 100%;
    /* Make image responsive */
    max-width: 170px;
    /* Maintain max width */
    height: auto;
    /* Maintain aspect ratio */
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.votes {
    font-size: 16px;
    color: #495057;
}

.voting-person-right {
    flex: 1 1 100%;
    /* Adjust flex property */
    padding-left: 20px;
}

.person-name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #343a40;
}

.person-description {
    font-size: 16px;
    color: #6c757d;
    margin-bottom: 20px;
}

.voting-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Allow buttons to wrap */
}

.vote-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    /* Make buttons take full width */
    max-width: 100px;
    /* Maintain max width */
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    /* Add margin to space out buttons */
}

.vote-btn:hover {
    background-color: #495057;
}

/* Media queries for responsiveness */
@media (min-width: 576px) {
    .voting-person {
        flex-wrap: nowrap;
        /* Prevent wrapping on larger screens */
    }

    .voting-person-left {
        flex: 1;
    }

    .voting-person-right {
        flex: 2;
    }

    .vote-btn {
        width: 18%;
        /* Maintain width on larger screens */
    }
}